<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <title>Александр Копытов</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="fonts/fonts.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <!--<link rel="shortcut icon" type="image/x-icon" href="img/ico.png"/>-->
</head>
<body>

<div id="app">

    <main>

        <div class="preloader"></div>

        <section id="intro" class="intro">
            <!--            <div class="intro__media"></div>-->
            <div class="intro__content">
                <h1>
                    <template v-if="page === 'intro'">
                        <span>Frontend_</span>
                        <span>Developer</span>
                    </template>
                    <template v-else-if="page === 'about'">
                        <span>About us</span>
                    </template>
                    <template v-else-if="page === 'skills'">
                        <span>skills</span>
                    </template>
                    <template v-else-if="page === 'experience'">
                        <span>experience</span>
                    </template>
                    <template v-else-if="page === 'work'">
                        <span>work</span>
                    </template>
                </h1>
            </div>
        </section>

        <transition mode="out-in" appear>

            <section id="about" class="about"
                     v-if="page === 'about'"
                     key="about">
                <div class="timeline">
                    <div class="timeline__table">
                        <div class="table__item"
                             v-for="n in amountItem(birthDate, lifetimeDate)"
                             :class="{
                             life:timeline === 'life' && n <= amountItem(birthDate, currentDate),
                             job:timeline === 'job' && n <= amountItem(birthDate, currentDate) && n >= (amountItem(birthDate, currentDate) - amountItem(workDateBuilding, currentDate)),
                             opacity:
                                (timelineNav === 'wedding' && n <= (amountItem(birthDate, currentDate) - amountItem(weddingDate, currentDate)))
                                || (timelineNav === 'parent' && n <= (amountItem(birthDate, currentDate) - amountItem(birthDateDaughter, currentDate)))
                                || (timelineNav === 'building' && n <= amountItem(birthDate, currentDate) && n >= (amountItem(birthDate, currentDate) - amountItem(workDateIt, currentDate)))
                                || (timelineNav === 'it' && n <= amountItem(birthDate, workDateIt) && n >= (amountItem(birthDate, currentDate) - amountItem(workDateBuilding, currentDate)))
                             }">
                            <span v-if="n === 52">Год</span>
                            <span v-else-if="n === 1040">20</span>
                            <span v-else-if="n === 2080">40</span>
                            <span v-else-if="n === 3120">60</span>
                            <span v-else-if="n === 4160">80</span>
                        </div>
                        <div class="timeline__period">{{timelinePeriod}} лет</div>
                    </div>

                    <nav class="timeline__nav">
                        <div class="nav__item" @click="timeline = 'life', timelineNav = false">Жизнь</div>
                        <template v-if="timeline === 'life'">
                            <div class="nav__item" @click="timelineNav = 'wedding'">Женился</div>
                            <div class="nav__item mr_auto" @click="timelineNav = 'parent'">Родилась дочка</div>
                        </template>
                        <template v-else>
                            <div class="nav__item ml_auto" @click="timelineNav = 'building'">Строительство</div>
                            <div class="nav__item" @click="timelineNav = 'it'">ИТ</div>
                        </template>
                        <div class="nav__item" @click="timeline = 'job', timelineNav = false">Работа</div>
                    </nav>

                </div>
            </section>

            <section id="skills" class="skills"
                     v-else-if="page === 'skills'"
                     key="skills">
                <h2>Навыки</h2>
            </section>

            <section id="experience" class="experience"
                     v-else-if="page === 'experience'"
                     key="experience">
                <h2>Опыт</h2>

            </section>

            <section id="work" class="work"
                     v-else-if="page === 'work'"
                     key="work">
                <h2>Мои работы</h2>
                <!--                <iframe src="http://bar-in.club/" width="600" height="500"></iframe>-->
            </section>

        </transition>

        <footer>
            <div class="btn" :class="{selected:page === 'intro'}" @click="page = 'intro'">intro</div>
            <div class="btn" :class="{selected:page === 'about'}" @click="page = 'about'">about</div>
            <div class="btn" :class="{selected:page === 'skills'}" @click="page = 'skills'">skills</div>
            <div class="btn" :class="{selected:page === 'experience'}" @click="page = 'experience'">experience</div>
            <div class="btn" :class="{selected:page === 'work'}" @click="page = 'work'">work</div>
        </footer>

    </main>

</div>
<!-- production version, optimized for size and speed -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/realvh.js"></script>
<!--<script src="js/timeline.js"></script>-->
<script src="js/vue.js"></script>
</body>
</html>